# Test files and directories ---------------------------------------------------
tests/output/
# IDE files and directories ----------------------------------------------------
.idea/
.vscode/
# Python files and directories -------------------------------------------------
__pycache__/
