# Ansible role {{ meta_role_name }}

![GitHub](https://img.shields.io/github/license/{{ meta_role_name }}/ansible-role-{{ meta_role_name }}) ![GitHub last commit](https://img.shields.io/github/last-commit/{{ meta_role_name }}/ansible-role-{{ meta_role_name }}) ![GitHub issues](https://img.shields.io/github/issues-raw/{{ meta_role_name }}/ansible-role-{{ meta_role_name }})

## Description

{{ galaxy_info.description }}

## Table of Contents

- [Requirements](#requirements)
- [Dependencies](#dependencies)
- [Supported Platforms](#supported-platforms)
- [Role Variables](#role-variables)
- [Example Playbook](#example-playbook)
- [License](#license)
- [Author Information](#author-information)
- [Contributing](#contributing)

## Requirements

{% if meta_requirements_collections %}
{% for requirement in meta_requirements_collections %}
- {{ requirement }}
{% endfor %}
{% else %}
No specific requirements outside of Ansible itself.
{% endif %}

## Dependencies

{% if meta_dependencies %}
{% for dependency in meta_dependencies %}
- {{ dependency }}
{% endfor %}
{% else %}
This role has no dependencies.
{% endif %}

## Supported Platforms

| OS Family | Distribution | Version | Supported |
|-----------|--------------|---------|-----------|
{% for platform in meta_platforms %}
  {% for version in meta_platforms %}
| {{ platform.os_family }} | {{ platform.distribution }} | {{ version.version }} | {{ "✓" if version.supported else "X" }} |
  {% endfor %}
{% endfor %}

## Role Variables

The following are the default variables that should be adjusted:

{% for variable in role_variables %}
- `{{ variable.name }}`: {{ variable.description }} (Default: `{{ variable.default }}`)
{% endfor %}

## Example Playbook

Including an example of how to use your role:

{% for example in examples %}
{{ example.description }}

```yaml
{{ example.code }}
```
{% endfor %}

## License

This role is published under the [{{ meta_license }} License](LICENSE).

## Author Information

This role was created in {{ meta_year_created }} by {{ meta_author }}.

## Contributing

Contributions to this role are welcome.
Please follow the steps described in [CONTRIBUTING.md](CONTRIBUTING.md).
